id: 6fb77778-040f-4015-9440-572aa9b6b580
title: Ingress/Egress Security Group Modification
status: test
level: medium
description: 'Detects when an account makes changes to the ingress or egress rules
    of a security group.

    This can indicate that an attacker is attempting to open up new attack vectors
    in the account, that they are trying to exfiltrate data over the network, or that
    they are trying to allow machines in that VPC/Subnet to contact a C&C server.

    '
author: jamesc-grafana
date: '2024-07-11'
tags:
    - attack.initial-access
    - attack.t1190
references:
    - https://www.gorillastack.com/blog/real-time-events/important-aws-cloudtrail-security-events-tracking/
falsepositives:
    - New VPCs and Subnets being setup requiring a different security profile to those
        already defined
    - A single port being opened for a new service that is known to be deploying
    - Administrators closing unused ports to reduce the attack surface
taxonomy: sigma
logsource:
    product: aws
    service: cloudtrail
detection:
    selection:
        eventSource: ec2.amazonaws.com
        eventName:
            - AuthorizeSecurityGroupEgress
            - AuthorizeSecurityGroupIngress
            - RevokeSecurityGroupEgress
            - RevokeSecurityGroupIngress
    condition: selection
ocsf_mapping:
    class_name: file_activity
    activity_id: UNMAPPED
    logsource:
        product:
            source_field: product
            source_value: aws
            mapped_at: '2025-11-26T02:22:28.065108+00:00'
        service:
            source_field: service
            source_value: cloudtrail
            mapped_at: '2025-11-26T02:22:28.065108+00:00'
    detection_fields:
        -   source_field: eventSource
            target_table: file_activity
            target_field: <UNMAPPED>
            mapped_at: '2025-11-26T02:22:28.065122+00:00'
        -   source_field: eventName
            target_table: file_activity
            target_field: <UNMAPPED>
            mapped_at: '2025-11-26T02:22:28.065124+00:00'
