id: a94cdd87-6c54-4678-a6cc-2814ffe5a13d
title: Unix Shell Configuration Modification
status: test
level: medium
description: Detect unix shell configuration modification. Adversaries may establish
    persistence through executing malicious commands triggered when a new shell is
    opened.
author: Peter Matkovski, IAI
date: '2023-03-06'
modified: '2023-03-15'
tags:
    - attack.persistence
    - attack.t1546.004
references:
    - https://objective-see.org/blog/blog_0x68.html
    - https://web.archive.org/web/20221204161143/https://www.glitch-cat.com/p/green-lambert-and-attack
    - https://www.anomali.com/blog/pulling-linux-rabbit-rabbot-malware-out-of-a-hat
falsepositives:
    - Admin or User activity are expected to generate some false positives
related: 'SigmaRelated(related=[SigmaRelatedItem(id=UUID(''e74e15cc-c4b6-4c80-b7eb-dfe49feb7fe9''),
    type=<SigmaRelatedType.OBSOLETE: 4>)])'
taxonomy: sigma
logsource:
    product: linux
    service: auditd
detection:
    selection:
        type: PATH
        name:
            - /etc/shells
            - /etc/profile
            - /etc/profile.d/*
            - /etc/bash.bashrc
            - /etc/bashrc
            - /etc/zsh/zprofile
            - /etc/zsh/zshrc
            - /etc/zsh/zlogin
            - /etc/zsh/zlogout
            - /etc/csh.cshrc
            - /etc/csh.login
            - /root/.bashrc
            - /root/.bash_profile
            - /root/.profile
            - /root/.zshrc
            - /root/.zprofile
            - /home/*/.bashrc
            - /home/*/.zshrc
            - /home/*/.bash_profile
            - /home/*/.zprofile
            - /home/*/.profile
            - /home/*/.bash_login
            - /home/*/.bash_logout
            - /home/*/.zlogin
            - /home/*/.zlogout
    condition: selection
ocsf_mapping:
    class_name: file_activity
    activity_id: 3
    logsource:
        product:
            source_field: product
            source_value: linux
            mapped_at: '2025-11-26T02:16:15.030988+00:00'
        service:
            source_field: service
            source_value: auditd
            mapped_at: '2025-11-26T02:16:15.030988+00:00'
    detection_fields:
        -   source_field: type
            target_table: file_activity
            target_field: <UNMAPPED>
            mapped_at: '2025-11-26T02:16:15.031004+00:00'
        -   source_field: name
            target_table: file_activity
            target_field: file.name
            mapped_at: '2025-11-26T02:16:15.031006+00:00'
