title: Sysmon Configuration Error
id: 815cd91b-7dbc-4247-841a-d7dd1392b0a8
status: test
level: high
author: frack113
description: Detects when an adversary is trying to hide it's action from Sysmon logging
    based on error messages
references:
    - https://github.com/redcanaryco/atomic-red-team/blob/f339e7da7d05f6057fdfcdd3742bfcf365fee2a9/atomics/T1562.001/T1562.001.md
    - https://talesfrominfosec.blogspot.com/2017/12/killing-sysmon-silently.html
falsepositives:
    - Legitimate administrative action
tags:
    - attack.defense-evasion
    - attack.t1564
date: '2021-06-04'
modified: '2022-07-07'
logsource:
    category: sysmon_error
    product: windows
detection:
    selection_error:
        Description|contains:
            - Failed to open service configuration with error
            - Failed to connect to the driver to update configuration
    filter_generic_english:
        Description|contains|all:
            - Failed to open service configuration with error
            - 'Last error: The media is write protected.'
    filter_by_errorcode:
        Description|contains:
            - Failed to open service configuration with error 19
            - Failed to open service configuration with error 93
    condition: selection_error and not 1 of filter*
ocsf_mapping:
    class_name: null
    activity_id: null
    logsource:
        category:
            source_field: category
            source_value: sysmon_error
            mapped_at: null
        product:
            source_field: product
            source_value: windows
            mapped_at: null
    detection_fields:
        -   source_field: Description
            target_table: null
            target_field: null
            mapped_at: null
